colorlog==6.6.0
Cython==0.29.28
matplotlib==3.5.1
numpy==1.21.2
opencv_python==4.5.5.64
Pillow==9.0.1
PyYAML==6.0
setuptools==58.0.4
Shapely==1.8.1.post1
tensorboardX==2.5
torch==1.7.0
torchvision==0.8.0
tqdm==4.63.0
